* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.container{
max-width: 1000px;
margin: auto;
}
/* header */

header{
    background-color: #ffffff;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px 0 200px;
    margin-top: 20px;
    padding-bottom: 20px;
}

nav{
width: 50%;

}

.navheader{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
}

.logo{
    width: 200PX;
}

.white{
    color: rgb(0, 0, 0);
   
}

/* header */

.hero{
    background-image: url(assset/Image\ \(1\).png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 0 200px;
    padding-top: 200px;
    padding-right: 600px;
}

h1{
    font-size: 85px;
    
}

.div1{
    width: 600px;
}

.flex{
display: flex;
justify-content: space-between;
margin-top: 150px;
margin-bottom: 150px;
padding-left: 200px;
padding-right: 200px;
margin-right: 20px;
}

.text1{
    width: 300px;
}

.text2{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.image1{
    width: 500px;
    border-radius: 0 200px 0 100px;
}


.text3{
width: 400px;
padding-top: 90px;
}

.H2{
    font-size: 50px;
    margin-bottom: 40px;
}

.FLex1{
    margin-top: 30px;
    display: flex;
}

.text4{
    margin-left: 20px;
}

